*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%; /* 10px == 1rem */
}

:root {
    --primary-color: #ff6347;
    --light-dark: #333333;
    --dark-dark: #1a1a1a;
    --dim-light: #fafafa;
    --faded-light: #aaaaaa;
    --light: #ffffff;
}

body {
    min-height: 100vh;
    width: 100vw !important;
    background: var(--dark-dark) !important;
    color: var(--dim-light) !important;
    font-size: 1.5rem;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.4rem;
}

button {
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    padding: 1.5rem 1rem;
    color: var(--light);
    background-color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0rem auto;
    padding: 0rem 1.5rem;
}

.primary {
    color: var(--primary-color);
}



/* COMMON ELEMENTS */

.title {
    text-align: center;
    margin-bottom: 5rem;
    font-family: sans-serif;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: .4rem;
    background-color: var(--light);
    border-radius: .2rem;
    margin-bottom: 2rem;
}

.title__heading{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: .3rem 0rem;
}

.title__body{
    font-size: 1.3rem;
    letter-spacing: .3rem;
    text-transform: lowercase;
    color: var(--primary-color);
}



/*   HEADER SECTION */ 

header {
    font-weight: bold;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header a {
    color: var(--dim-light);
}

.logo__div {
    font-size: large;
}

nav {
    background: var(--light-dark);
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu__icon {
    color: var(--light);
    display: none;
}

.nav__list {
    display: inline-block;
    position: absolute;
    right: -100rem;  /* visible - 2rem, hidden - -50rem*/
    top: 6.5rem;
    background: var(--light-dark);
    color: var(--light);
    padding: 2rem 2rem;
    z-index: 99;
}

.nav__list div {
    padding: .7rem 0rem;
    border-bottom: var(--faded-light) .1rem solid;
}

.nav__list::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-left: 0;
    background-color: var(--light-dark);
}



/*   INTRO SECTION */ 

.intro__section {
    min-height: 50rem;
    padding: 10rem;
    background:linear-gradient(135deg,
    #333333dc 0%,
    #1a1a1adc) 100%,
    url('../images/laravel(1500x500).png') center no-repeat fixed;
    background-size: cover;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap !important;
}

.intro__me {
    flex: 1;
    padding: 2rem;
}

.intro__me .occupation {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.intro__me .name {
    font-size: 3rem;
}

.intro__me .description {
    font-size: 1.5rem;
    color: var(--dim-light);
    line-height: 1.6;
    margin-right: 2rem;
}

.intro__me .skills {
    margin-top: 2rem;
}

.intro__image {
    flex: 1;
    text-align: center;
}

.intro__image img {
    width: 100%;
    border-radius: 50%; /* Circular shape */
    border: .5rem solid var(--light); /* White border */
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 62rem) {
    .intro__image {
        display: none;
    }
}

@media (max-width: 42rem) {
    .intro__section {
        padding: 2rem 1rem;
    }
}



/*   SERVICES SECTION */

.services__section {
    padding: 5rem;
    max-width: 120rem;
    margin: auto;
    text-align: center;
}

.services__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.service__item {
    background-color: var(--light-dark);
    color: var(--dim-light);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service__item:hover {
    transform: scale(1.05);
}

.service__item h3 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.service__item p {
    font-size: 1.5rem;
}

@media (max-width: 62rem) {
    .services__section {
        padding: 5rem 2rem;
    }

    .service__item {
        width: 100%;
    }
}



/* PORTFOLIO SECTION */

.portfolio__section {
    padding: 5rem;
    max-width: 120rem;
    margin: auto;
}

.portfolio__item {
    background-color: var(--light-dark);
    color: var(--dim-light);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
}

.portfolio__item img {
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.portfolio__details {
    flex: 1;
}

.portfolio__details h3 {
    font-size: 1.5rem;
    margin: 0;
}

.portfolio__details p {
    font-size: 1.4rem;
    margin: 10px 0;
}

.portfolio__details a {
    color: #007BFF;
    text-decoration: none;
    font-style: italic;
    font-size: 1.3rem;
}

.portfolio__details a:hover {
    text-decoration: underline;
}

@media (max-width: 62rem) {
    .portfolio__section {
        padding: 5rem 2rem;
    }

    .portfolio__item {
        width: 100%;
    }

    .portfolio__item img {
        margin-right: 0rem;
        width: 100%;
    }

    .portfolio__details {
        margin-top: 2rem;
    }
}



/* ABOUT SECTION */

.about__section {
    padding: 5rem;
    margin: auto auto;
}

.about__me {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.about__me .ex__link a {
    color: var(--primary-color);
}



/* GOAL SECTION */

.goals__section {
    padding: 5rem 2rem;
}

.goal__content {
    line-height: 3rem;
    letter-spacing: .2rem;
}



/*   QUOTE SECTION */

.quote__section {
    width: 100%;
    min-height: 60rem;
    background:linear-gradient(135deg,
    #33333394 0%,
    #1a1a1a94) 100%,
    url('../images/laravel(1500x500).png') center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.quote_container {
    width: 100%;
    color: var(--dim-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote__text {
    margin-bottom: 3rem;
    position: relative;
    padding: 0 1.5rem;
}

.quote__icon {
    text-align: center;
    margin-bottom: 2rem;
}

.quote__text p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    flex-grow: 2;
}

.quotee__info {
    text-align: center;
}

.quotee__info img {
    width: 20rem;
    border-radius: 100%;
    border: .7rem solid var(--primary-color);
}

.quotee__info h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quotee__info h6 {
    text-align: center;
    margin-top: .5rem;
}



/* FOOTER SECTION */

.footer {
    background-color: var(--dark-dark);
    color: #ddd;
    padding: 2rem 0;
    text-align: center;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: .4rem;
    background-color: var(--primary-color);
    border-radius: .2rem;
    margin-bottom: 2rem;
}

.footer .contact-info p {
    margin: 1rem 0;
}

.footer .contact-info p span {
    font-weight: bold;
    color: var(--light);
}

.footer p {
    margin: .5rem 0;
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: var(--light);
}

.footer p.copyright {
    margin-top: .2rem;
    font-size: 1rem;
    color: var(--faded-light);
}

@media (max-width: 60rem) {
    .footer {
        padding: 2rem 0;
    }
}



/* RESPONSIVENESS */

@media (max-width: 62rem) {
    nav {
        display: none;
    }

    .menu__icon {
        display: inline-block;
    }
}